<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    .home{
      font-size: 20px;
    }
    .main{
      background-color: darkgray;
      margin: 20px;
      text-align: center;
      height: 600px;

    }
    .login_main{
      background-color: gray;
    }
    .profile{
      font-size: 25px;
      align-content: center;
    }
    .main_div{
      margin-top: 100px;
      background-color: white;
      height: 250px;
      width: 350px;
      line-height: 50px;
      display: inline-block;
    }
    .profile_div{
      margin-top: 30px;
      margin-left: 20px;
      text-align: left;
    }
    .modal-body{
      text-align: center;
    }
  </style>
</head>
<body>
<div class="main">
  <div class="login_main">
    <b class="profile">Profile</b>
  </div>
  <div class="main_div">
    <div class="profile_div">
      <b>Nickname : </b><span th:text="${member.nickname}"></span>
      <br>
      <b>Email : </b><span th:text="${member.email}"></span>
      <br>
      <b>Password : </b><span id="pw" th:text="${member.pw}" style="display: none"></span>*********&nbsp;
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Change
      </button>
      <br>
      <b>last record : </b><span th:text="${member.record}"></span>
    </div>
    <br>
    <a class="home" href="/">home</a>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">password change</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/change/pw">
        <div class="modal-body">
            <input type="password" id="modal_pass" placeholder="Current Password" onkeyup="checkCurrentPasswordMatch()">
            <div id="current-password-match"></div><br>
            <input type="password" id="modal_new_pass" name="NewPw" placeholder="New Password" onkeyup="checkPasswordMatch();"><br><br>
            <input type="password" id="modal_new_pass_check" placeholder="New Password Check" onkeyup="checkPasswordMatch();">
          <div id="password-match"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="change" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script>
  // function ButtonOn(){
  //   const change = document.getElementById("change");
  //
  //   if(checkCurrentPasswordMatch() && checkPasswordMatch()){
  //     change.disabled = false;
  //   }else {
  //     change.disabled = true;
  //   }
  // }


  function checkCurrentPasswordMatch(){
    let pw = document.getElementById("pw");
    let modal_pass = document.getElementById("modal_pass").value;
    let message = document.getElementById("current-password-match");

    console.log(pw);
    if(pw.textContent == modal_pass){
      message.style.color = "green";
      message.innerHTML = "Passwords match!";
      return true;
    }
    else {
      message.style.color = "red";
      message.innerHTML = "Passwords do not match!";
      return false;
    }
  }

  function checkPasswordMatch(){
    let modal_new_pass = document.getElementById("modal_new_pass").value;
    let modal_new_pass_check = document.getElementById("modal_new_pass_check").value;
    let message = document.getElementById("password-match");
    let pw = document.getElementById("pw");

    if(modal_new_pass == modal_new_pass_check && pw.textContent != modal_new_pass){
      message.style.color = "green";
      message.innerHTML = "Passwords match!";
      return true;
    }else if(pw.textContent == modal_new_pass){
      message.style.color = "red";
      message.innerHTML = "Past Password match";
      return false;
    } else {
      message.style.color = "red";
      message.innerHTML = "Passwords do not match!";
      return false;
    }
  }


</script>
</body>
</html>