<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
  <style>
    .login{
      background-color: darkgray;
      text-align: center;
      height: 150px;
    }
  </style>
</head>
<body>
<div class="login">
  <h1>Sign in</h1>
  <form method="post" action="/user/signup" id="login_form">
    <input type="text" name="userID" placeholder="Email">
    <input type="password" name="userPW" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>
</body>
</html>