<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  <style>
    .home{
      font-size: 20px;
    }
    .login{
      background-color: darkgray;
      text-align: center;
      height: 150px;
    }
  </style>
</head>
<body>
<div class="login">
  <h1>Sign in</h1>
  <form method="post" action="/user/signup/callback" id="login_form">
    <input type="email" name="Email" placeholder="Email">
    <input type="password" name="Password" placeholder="Password">
      <input type="text" name="Nickname" placeholder="Nickname">
    <input type="submit" value="sign up">
  </form>
  <br>
  <a class="home" href="/">home</a>
</div>
</body>
</html>